@charset "UTF-8";
body {
  overflow-x: hidden; }

:lang(fr) [lang='en'] {
  display: none; }

:lang(fr) .en {
  display: none; }

:lang(fr) [lang='en'] + .select2 {
  display: none; }

:lang(en) [lang='fr'] {
  display: none; }

:lang(en) .fr {
  display: none; }

:lang(en) [lang='fr'] + .select2 {
  display: none; }

.hidden {
  display: none; }

.dropdown-submenu {
  position: relative; }

img.troupe-img {
  width: 13em; }

img.perso-img {
  width: 13em; }

.mini .img {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5.5em;
  background-image: var(--mini);
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position-x: 75%,40%,0%,110%;
  filter: opacity(0.7) contrast(2);
  pointer-events: none; }

section #tableminis img {
  max-width: 5em;
  max-height: 6em; }

.mini {
  height: 5em;
  position: relative; }

.mini-large {
  height: 6em;
  position: relative; }

.mini-large .img {
  position: absolute;
  bottom: 0;
  left: 20%;
  display: block;
  width: 100%;
  height: 8em;
  background-image: var(--mini);
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  filter: opacity(0.7) contrast(2);
  pointer-events: none; }

.mini-huge {
  height: 6em;
  position: relative; }

.mini-huge .img {
  position: absolute;
  bottom: 0;
  left: 38%;
  display: block;
  width: 100%;
  height: 15em;
  background-image: var(--mini);
  background-size: auto 120%;
  background-repeat: no-repeat;
  background-position-x: 0%;
  filter: opacity(0.7) contrast(2);
  pointer-events: none; }

/*
figure {
    width:7rem;
    position:relative;
    figcaption {
        font-size: smaller;
        text-align: center;
    }
    .moralv {
        position:absolute;
        top:-3ex;
        text-align: center;
    }
}*/
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-toggle::after {
  float: right;
  margin-top: 1ex; }

.dropdown-submenu:hover > span:after {
  border-left-color: #fff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.w-10 {
  width: 10% !important; }

.w-2 {
  width: 2em !important; }

.card {
  display: inline-block;
  border: 0; }

.table-striped tbody tr:nth-of-type(2n+1), .armee th, .armee tr:nth-child(even) {
  background-color: #edeae4; }

a, a:hover {
  color: #73664d;
  /*mix-blend-mode: multiply;*/ }

.card-header {
  background-color: #dbd5ca; }

embed .toolbar {
  display: none; }

.modal-dialog {
  margin: 8.75rem auto; }

#card .modal-lg, #card-troop .modal-lg {
  max-width: 15em; }

.img-circle, .img-circle2 {
  width: 2em; }

.cc2 {
  column-count: 2; }

vg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden; }

.reverse {
  background-color: #d2cabb; }

/*.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}*/
/*
figure {
    text-align:center;
}*/
.img-circle.selected, .img-circle2.selected {
  border: solid 3px #FF0000; }

/*.hexa {
  /fill: url(#pave);/
  pointer-events: all;
  path {
      -webkit-transition: fill 250ms linear;
      transition: fill 250ms linear;
      fill: url(#plain);
  }
  .fill {
      fill: black;
      fill-opacity:0.35;
  }
}*/
.mesh {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
  pointer-events: none; }

.border {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  pointer-events: none; }

.card {
  font-size: smaller; }

#tablepersos td, #tablepersos th, #tabletroupes td, #tabletroupes th {
  /*        font-size:smaller;*/
  padding: 0.25rem; }

/*.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-image:  radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url("pave.png");
  background-size: auto 334.8632px;
  background-position: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
  display:inline-block;
  background-color:black;
  table {
      filter: drop-shadow(1px 1px 1px #000);
  }
  h4, h6 {
      margin:0;
  }
  h4 {
      height: 3em;
      overflow:auto;
  }
  .recul::after,.mort::after,.touche::after,.rallie::after,.retarde::after {
      filter:invert(1);
  }
  img {
      width:4em;
      height:4em;
  }
  span {
      position:relative;
      top:0;
      left:0;
      z-index:3;
      text-align:center;
      color:white;
  }
}
.outhex {
    display:inline-block;
}*/
.xtra {
  font-size: 10ex;
  margin-left: -10px; }

/*.hex {
    display:inline-block;
}*/
/*#hex1,#hex2,#hex3 {
    text-shadow: 2px 2px black;
}*/
.table-borderless td,
.table-borderless th {
  border: 0; }

/*.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 38.93px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}*/
/*counter transform the bg image on the caps*/
/*.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 290.0000px;
  height: 167.4315780649915px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -106.0660px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexTop:before {
  background-position: center top;
}

.hexBottom {
  bottom: -106.0660px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}

.hexBottom:before {
  background-position: center bottom;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 290.0000px;
  height: 167.4316px;
  z-index: 2;
  background: inherit;
}
*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Bataille_de_Castillon.jpg");
  background-size: cover;
  background-position: center; }

.blason::after {
  content: "";
  background-size: 90%;
  width: 2ex;
  height: 2ex;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 5px;
  margin-bottom: -5px; }

.blason-large {
  text-align: center; }

.blason-large::after {
  width: 3ex;
  height: 3ex;
  padding-left: 5px;
  margin-left: -5px; }

.blason-xlarge::after {
  width: 5ex;
  height: 5ex;
  margin-top: 3ex; }

.blason-large::after, .blason-xlarge::after {
  content: "";
  background-size: 90%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 7px;
  margin-bottom: -7px; }

.red {
  background-color: #ff6666;
  color: #ff6666; }

.pdv {
  background-color: darkred;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 1.3em;
  text-align: center; }

.subfaction {
  position: relative;
  top: -35px;
  right: -10px; }

.combat-cond::after {
  content: "";
  background-size: 90%;
  width: 2ex !important;
  height: 2ex !important;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 7px;
  margin-bottom: -7px;
  padding-left: 5px;
  margin-left: -5px;
  position: relative;
  top: -12px;
  right: 3px; }

.combat-under::after {
  content: "";
  background-size: 90%;
  width: 2ex !important;
  height: 2ex !important;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 7px;
  margin-bottom: -7px;
  padding-left: 5px;
  margin-left: -5px;
  position: relative;
  top: 5px;
  right: 3px; }

.cond {
  width: 7ex;
  height: 2ex;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 7px;
  margin-bottom: -7px;
  padding-left: 5px;
  margin-left: -5px;
  position: relative;
  top: -12px;
  right: 3px;
  font-size: x-small; }

.commandement {
  background-image: url("../images/icon/commandementhexa.png");
  background-size: 90%;
  width: 6ex;
  height: 5ex;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -6px;
  margin-left: -11px;
  padding-top: 10px;
  padding-left: 12px;
  color: whitesmoke;
  font-size: small;
  text-shadow: 1px 1px grey; }

.francais::after {
  background-image: url("../images/icon/francais.png"); }

.teutonique::after {
  background-image: url("../images/icon/teutonique.png"); }

.lituanien::after {
  background-image: url("../images/icon/lituanien.png"); }

.polonais::after {
  background-image: url("../images/icon/polonais.png"); }

.anglais::after {
  background-image: url("../images/icon/anglais.png"); }

.bourguignon::after {
  background-image: url("../images/icon/bourguignon.png"); }

.ecossais::after {
  background-image: url("../images/icon/ecossais.png"); }

.mercenaire::after {
  background-image: url("../images/icon/mercenaire.png"); }

.ottoman::after {
  background-image: url("../images/icon/ottoman.png"); }

.valaque::after {
  background-image: url("../images/icon/valaque.png"); }

.mal::after {
  background-image: url("../images/icon/mal.png"); }

.neutre::after {
  background-image: url("../images/icon/neutre.png"); }

.bien::after {
  background-image: url("../images/icon/bien.png"); }

.cartelegende::after {
  background-image: url("../images/icon/cartelegende.png"); }

.actiongrise::after {
  background-image: url("../images/icon/actiongrise.png"); }

.actionbleue::after {
  background-image: url("../images/icon/actionbleue.png"); }

.actionjaune::after {
  background-image: url("../images/icon/actionjaune.png"); }

.actionverte::after {
  background-image: url("../images/icon/actionverte.png"); }

.jetonlegende::after {
  background-image: url("../images/icon/jetonlegende.png"); }

.jetonxp::after {
  background-image: url("../images/icon/jetonxp.png"); }

.jetondetruit::after {
  background-image: url("../images/icon/jetondetruit.png"); }

.jetonrumeur::after {
  background-image: url("../images/icon/jetonrumeur.png"); }

.jetonscenario::after {
  background-image: url("../images/icon/jetonscenario.png"); }

.jetonincendie::after {
  background-image: url("../images/icon/jetonincendie.png"); }

.jetonblessure::after {
  background-image: url("../images/icon/jetonblessure.png"); }

.tue::after {
  background-image: url("../images/icon/tue.png"); }

.touche::after {
  background-image: url("../images/icon/touche.png"); }

.rallie::after {
  background-image: url("../images/icon/rallie.png"); }

.recul::after {
  background-image: url("../images/icon/recul.png"); }

.mort::after {
  background-image: url("../images/icon/mort.png"); }

.retarde::after {
  background-image: url("../images/icon/retarde.png"); }

.bouclier::after {
  background-image: url("../images/icon/bouclier.png"); }

.melee::after {
  background-image: url("../images/icon/melee.png"); }

.geant::after {
  background-image: url("../images/icon/geant.png"); }

.defense::after {
  background-image: url("../images/icon/defense.png"); }

.tircloche0::after {
  background-image: url("../images/icon/tircloche0.png"); }

.tircloche1::after {
  background-image: url("../images/icon/tircloche1.png"); }

.tircloche2::after {
  background-image: url("../images/icon/tircloche2.png"); }

.tircloche3::after {
  background-image: url("../images/icon/tircloche3.png"); }

.tirtendu0::after {
  background-image: url("../images/icon/tirtendu0.png"); }

.tirtendu1::after {
  background-image: url("../images/icon/tirtendu1.png"); }

.tirtendu2::after {
  background-image: url("../images/icon/tirtendu2.png"); }

.tirtendu3::after {
  background-image: url("../images/icon/tirtendu3.png"); }

.artillerie::after {
  background-image: url("../images/icon/artillerie.png"); }

.infanterie::after {
  background-image: url("../images/icon/infanterie.png"); }

.cavalerie::after {
  background-image: url("../images/icon/cavalerie.png"); }

.volant::after {
  background-image: url("../images/icon/volant.png"); }

.tirtendu::after {
  background-image: url("../images/icon/tirtendu.png"); }

.tircloche::after {
  background-image: url("../images/icon/tircloche.png"); }

.tour::after {
  background-image: url("../images/icon/tour.png"); }

.round::after {
  background-image: url("../images/icon/round.png"); }

.montour::after {
  background-image: url("../images/icon/montour.png"); }

.tontour::after {
  background-image: url("../images/icon/tontour.png"); }

.here::after {
  background-image: url("../images/icon/here.png"); }

.hereandthere::after {
  background-image: url("../images/icon/hereandthere.png"); }

.hereandthere2::after {
  background-image: url("../images/icon/hereandthere2.png"); }

.hereandtherehexa::after {
  background-image: url("../images/icon/hereandtherehexa.png"); }

.poursuiteaprescombat::after {
  background-image: url("../images/icon/poursuiteaprescombat.png"); }

.niveau1::after {
  background-image: url("../images/icon/niveau1.png"); }

.niveau2::after {
  background-image: url("../images/icon/niveau2.png"); }

.troupe::after {
  background-image: url("../images/icon/troupe.png"); }

.personnage::after {
  background-image: url("../images/icon/personnage.png"); }

.batiment::after {
  background-image: url("../images/icon/batiment.png"); }

.carteriviere::after {
  background-image: url("../images/icon/carteriviere.png"); }

.touttype::after {
  background-image: url("../images/icon/touttype.png"); }

.no::after {
  background-image: url("../images/icon/no.png"); }

.ralliement::after {
  background-image: url("../images/icon/ralliement.png"); }

.move::after {
  background-image: url("../images/icon/move.png"); }

.touttypeennemi::after {
  background-image: url("../images/icon/touttypeennemi.png"); }

.touttypeallie::after {
  background-image: url("../images/icon/touttypeallie.png"); }

.there::after {
  background-image: url("../images/icon/there.png"); }

.herehexa::after {
  background-image: url("../images/icon/herehexa.png"); }

.tap::after {
  background-image: url("../images/icon/tap.png"); }

.turn::after {
  background-image: url("../images/icon/turn.png"); }

.actionblanche::after {
  background-image: url("../images/icon/actionblanche.png"); }

.game::after {
  background-image: url("../images/icon/game.png"); }

.ble::after {
  background-image: url("../images/icon/ble.png"); }

.plaine::after {
  background-image: url("../images/icon/plaine.png"); }

.ble::after {
  background-image: url("../images/icon/ble.png"); }

.foret::after {
  background-image: url("../images/icon/foret.png"); }

.niveau0::after {
  background-image: url("../images/icon/niveau0.png"); }

.commandementhexa::after {
  background-image: url("../images/icon/commandementhexa.png"); }

.Apocalypse::after {
  background-image: url("../images/icon/Apocalypse.png"); }

.Chevaliers_teutoniques::after {
  background-image: url("../images/icon/Chevaliers_teutoniques.png"); }

.Siege::after {
  background-image: url("../images/icon/Siege.png"); }

.Legendary::after {
  background-image: url("../images/icon/Legendary.png"); }

.Village::after {
  background-image: url("../images/icon/Village.png"); }

.Hell::after {
  background-image: url("../images/icon/Hell.png"); }

.here::after, .hereandthere::after, .hereandthere2::after, hereandtherehexa::after, herehexa::after, .there::after, .therehexa::after {
  border: 1px solid black;
  border-radius: 50%; }

.hereandthere2::after {
  width: 2.5ex;
  height: 2.5ex; }

.rallie::after, .carte::after, .action::after, .jeton::after, .mort::after, .retarde::after, .vierge::after, .bouclier::after, .tue::after, .touche::after, .recul::after, .combat::after, .dejaune::after, .derouge::after, .deblanc::after, .deviolet::after, .denoir::after, .type::after {
  content: "";
  background-size: 90%;
  width: 3ex;
  height: 3ex;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 7px;
  margin-bottom: -7px;
  padding-left: 5px;
  margin-left: -5px; }

.facejaune, .facerouge, .facenoir, .faceblanc {
  border: 4px solid #888; }

.facejaune::after {
  background-color: #d8ae55; }

.facerouge::after {
  background-color: #23B5C9;
  /*dc4a36;*/
  filter: invert(100%); }

.facenoir::after {
  background-color: #CACAC7;
  /*#353538;*/
  filter: invert(100%); }

.faceblanc::after {
  background-color: #eeeeff; }

.dejaune::after {
  background-image: url("../images/icon/De_Jaune.png"); }

.derouge::after {
  background-image: url("../images/icon/De_Rouge.png"); }

.deblanc::after {
  background-image: url("../images/icon/De_Blanc.png"); }

.denoir::after {
  background-image: url("../images/icon/De_Noir.png"); }

.deviolet::after {
  background-image: url("../images/icon/De_Violet.png"); }

#troupes .list-group-item.active {
  background-color: #d2cabb;
  color: #d2cabb; }

.beige {
  background-color: #d2cabb; }

section {
  padding: 6ex 0;
  display: block; }

@media screen {
  .noshow, .noshow:target ~ header, .noshow:target ~ #home {
    visibility: hidden;
    position: absolute;
    top: -1000px; }
  .noshow:target, header, #home {
    position: static;
    visibility: visible; } }

[lang='fr'] #chrono:target ~ nav .navbar-brand::after {
  content: "Chronologie"; }

[lang='en'] #chrono:target ~ nav .navbar-brand::after {
  content: "Timeline"; }

[lang='fr'] #armee:target ~ nav .navbar-brand::after {
  content: "Constructeur d'armée"; }

[lang='en'] #armee:target ~ nav .navbar-brand::after {
  content: "Army Builder"; }

[lang='fr'] #troupes:target ~ nav .navbar-brand::after {
  content: "Unités"; }

[lang='en'] #troupes:target ~ nav .navbar-brand::after {
  content: "Units"; }

[lang='fr'] #compare:target ~ nav .navbar-brand::after {
  content: "Stats"; }

[lang='en'] #compare:target ~ nav .navbar-brand::after {
  content: "Statistics"; }

.navbar-brand::after {
  content: "";
  color: white;
  width: 8em;
  font: 3ex "title", sans-serif; }

h1 {
  font: 5ex "title", sans-serif; }

#tableunites img {
  width: 4em; }

section img {
  padding: 1px;
  width: 90%; }

.card img {
  width: 16px; }

section img.featurette-image {
  width: 40%;
  padding: 10px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.noshow:target ~ .navbar-brand::after {
  content: "Chronologie"; }

.featurette-divider {
  padding: 2em; }

.featurette {
  margin: 1ex; }

#myModal .modal-content {
  background: white; }

.modal .modal-content {
  padding: 7px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.5); }
  .modal .modal-content img {
    width: 100%;
    border-radius: 25px; }

.list-group-item {
  padding: 2px;
  width: 100%; }

.coat {
  background: url("blasons.png") no-repeat;
  display: inline-block;
  width: 32px;
  height: 31px;
  float: left; }

.coat.coat-Amaury-de-Craon {
  background-position: 0px 0px; }

.coat.coat-Amaury-de-Severac {
  background-position: -32px 0px; }

.coat.coat-Ambroise-de-Lore {
  background-position: -64px 0px; }

.coat.coat-Arnaud-Amanieu-d-Albret {
  background-position: -96px 0px; }

.coat.coat-Arnaud-de-Cervole {
  background-position: -128px 0px; }

.coat.coat-Arthur-de-Richemont {
  background-position: -160px 0px; }

.coat.coat-Barral-de-Pontevès {
  background-position: -192px 0px; }

.coat.coat-Baudoin-de-Lens {
  background-position: -224px 0px; }

.coat.coat-Bertrand-du-Guesclin {
  background-position: -256px 0px; }

.coat.coat-Bertrand-de-Poulengy {
  background-position: 0px -31px; }

.coat.coat-Boucicaut {
  background-position: -32px -31px; }

.coat.coat-Captal-de-Buch {
  background-position: -64px -31px; }

.coat.coat-Charles-II-le-Magnanime {
  background-position: -96px -31px; }

.coat.coat-Charles-d-Albret {
  background-position: -128px -31px; }

.coat.coat-Charles-de-Bourbon {
  background-position: -160px -31px; }

.coat.coat-Claude-de-Chastellux {
  background-position: -192px -31px; }

.coat.coat-Comte-d-Arundel {
  background-position: -224px -31px; }

.coat.coat-Comte-d-Auxerre {
  background-position: -256px -31px; }

.coat.coat-Comte-d-Oxford {
  background-position: 0px -62px; }

.coat.coat-Comte-de-Northampton {
  background-position: -32px -62px; }

.coat.coat-Comte-de-Salisbury {
  background-position: -64px -62px; }

.coat.coat-Comte-de-Suffolk {
  background-position: -96px -62px; }

.coat.coat-Comte-de-Warwick {
  background-position: -128px -62px; }

.coat.coat-Edmond-de-Somerset {
  background-position: -160px -62px; }

.coat.coat-Edouard-III {
  background-position: -192px -62px; }

.coat.coat-Edouard-d-York {
  background-position: -224px -62px; }

.coat.coat-Gautier-VI-de-Brienne {
  background-position: -256px -62px; }

.coat.coat-Gilles-de-Rais {
  background-position: 0px -93px; }

.coat.coat-Henry-V {
  background-position: -32px -93px; }

.coat.coat-Jacques-de-Bourbon {
  background-position: -64px -93px; }

.coat.coat-Jean-1er-de-Luxembourg {
  background-position: -96px -93px; }

.coat.coat-Jean-II-Le-Bon {
  background-position: -128px -93px; }

.coat.coat-Jean-II-de-Luxembourg {
  background-position: -160px -93px; }

.coat.coat-Jean-Stuart-de-Buchan {
  background-position: -192px -93px; }

.coat.coat-Jean-Stuart-de-Derneley {
  background-position: -224px -93px; }

.coat.coat-Jean-de-Bourbon {
  background-position: -256px -93px; }

.coat.coat-Jean-de-Croy {
  background-position: 0px -124px; }

.coat.coat-Jean-de-Dunois {
  background-position: -32px -124px; }

.coat.coat-Jean-de-Lancastre {
  background-position: -64px -124px; }

.coat.coat-Jean-de-Metz {
  background-position: -96px -124px; }

.coat.coat-Jean-de-Toulongeon {
  background-position: -128px -124px; }

.coat.coat-Jean-de-Vienne {
  background-position: -160px -124px; }

.coat.coat-Jean-fils-du-Roi {
  background-position: -192px -124px; }

.coat.coat-Jean-de-Brimeu {
  background-position: -224px -124px; }

.coat.coat-Jeanne-d-Arc {
  background-position: -256px -124px; }

.coat.coat-John-Chandos {
  background-position: 0px -155px; }

.coat.coat-John-Hawkwood {
  background-position: -32px -155px; }

.coat.coat-John-Talbot {
  background-position: -64px -155px; }

.coat.coat-John-de-la-Pole {
  background-position: -96px -155px; }

.coat.coat-La-Hire {
  background-position: -128px -155px; }

.coat.coat-Le-Prince-Noir {
  background-position: -160px -155px; }

.coat.coat-Manvydas {
  background-position: -192px -155px; }

.coat.coat-Marechal-Arnoul-d-Audrehem {
  background-position: -224px -155px; }

.coat.coat-Marechal-Jean-de-Clermont {
  background-position: -256px -155px; }

.coat.coat-Narimantas {
  background-position: 0px -186px; }

.coat.coat-Philippe-VI-de-Valois {
  background-position: -32px -186px; }

.coat.coat-Philippe-d-Orleans {
  background-position: -64px -186px; }

.coat.coat-Philippe-le-Hardi {
  background-position: -96px -186px; }

.coat.coat-Poton-de-Xaintrailles {
  background-position: -128px -186px; }

.coat.coat-Prigent-de-Coetivy {
  background-position: -160px -186px; }

.coat.coat-Radu-III-le-Beau {
  background-position: -192px -186px; }

.coat.coat-Robert-Knolles {
  background-position: -224px -186px; }

.coat.coat-Roi-Casimir-IV-de-Lituanie {
  background-position: -256px -186px; }

.coat.coat-Thomas-Kyriell {
  background-position: 0px -217px; }

.coat.coat-Thomas-Montaigu {
  background-position: -32px -217px; }

.coat.coat-Thomas-de-Scales {
  background-position: -64px -217px; }

.coat.coat-Vlad-Tepes {
  background-position: -96px -217px; }

.coat.coat-William-Glasdale {
  background-position: -128px -217px; }

.coat.coat-William-Wallace {
  background-position: -160px -217px; }

.coat.coat-William-de-la-Pole {
  background-position: -192px -217px; }

.coat.coat-Winrich-von-Kniprod {
  background-position: -224px -217px; }

@font-face {
  font-family: 'title';
  src: url("../webfonts/blkchcry.ttf") format("truetype"); }
